.ml-responsive {
    display: none;

    button {
        border: none;
        background: unset;
        outline: none;
    }

    .navigation-mobile-mode {
        display: none;
        height: 100vh;
        width: 60%;
        box-shadow: 0px 3px 10px #00000014;
        background-color: white;

        &.burger-navigation {
            display: block;
        }

        .login {
            margin-bottom: 20px;
        }

        .mobile-navigation {
            display: flex;
            flex-direction: column;
            width: 90%;
            text-align: left;
            margin: 0 auto;
            padding: 20px 0;
            border-top: 1px solid #d3d5e3;
            border-bottom: 1px solid #d3d5e3;

            button {
                text-align: left;
                margin-bottom: 20px;
                position: relative;
                margin-left: 30px;

                a {
                    padding: 0;
                    font-weight: 700;
                    font-size: 18px;
                    color: #65687e;
                    opacity: 0.6;

                    .active-green-line {
                        position: absolute;
                        border-right: 23px solid #55b364;
                        border-radius: 35px;
                        height: 5px;
                        display: none;
                        left: -30px;
                        top: 13px;
                    }

                    &.router-link-exact-active {
                        // opacity: 1;

                        .active-green-line {
                            display: block;
                        }
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .ml-mobile {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 20px auto 0;
            text-align: left;

            a {
                opacity: 0.5;

                &.router-link-exact-active.active {
                    // opacity: 1;

                    .active-green-line {
                        display: block;
                    }
                }

                button {
                    padding: 0;
                    margin-bottom: 10px;
                    position: relative;
                    margin-left: 30px;

                    .active-green-line {
                        position: absolute;
                        border-right: 23px solid #55b364;
                        border-radius: 35px;
                        height: 5px;
                        display: none;
                        left: -30px;
                        top: 13px;
                    }

                    p {
                        margin: 0;
                        font-weight: 700;
                        font-size: 19px;
                        color: #65687e;
                    }
                }
            }
        }
    }
}

.new-navigation {
    .scroll-links {
        .active-green-line {
            border-right: 18px solid #55b364;
            height: 3px;
        }

        a.active {
            .active-green-line {
                position: absolute;
                display: none;
                left: -30px;
                top: 19px;
            }
        }
    }

    a {
        &.router-link-exact-active.router-link-active {
            opacity: 0.6;

            &.active {
                opacity: 1;
            }

            .active-green-line {
                display: none;
            }
        }

        &.router-link-exact-active.router-link-active.inverted {
            opacity: 0.6 !important;

            &.router-link-exact-active.active {
                opacity: 1 !important;
            }
        }
    }
}