input {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    width: 305px;
    height: 46px;
    padding: 14px 20px;
    outline: none;
    border: 1px solid #D3D5E3;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.input-with-eye {
    position: relative;
}

.input-group {
    position: relative;

    .postal-style {
        left: 13px;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid #757575;
        width: 130px;
    }

    input:focus {
        outline: none;
    }

    label {
        color: #9597AC;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 12px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        padding-left: 15px;
    }

    input:focus~label,
    input:valid~label {
        top: 0;
        font-size: 10px;
        color: #55B364;
    }

    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    input:focus~.highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
}

.password-error-icon {
    position: relative;
}