
.card-link .card {
    border: none;
}
p.main-news {
    color: #393A4D;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}

p.sec-news {
    color: #393A4D;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

#card.main-card {
    height: 650px;
}

.card #box-image {
    max-height: 320px;
}

.card.main-card #box-image {
    height: 320px;
}

.card-link:hover {
    text-decoration: none;
}
div#main-news-card {
    border: 0px;
    min-height: 500px;
    margin-bottom: 15px;
    margin-right: 15px;
    flex-direction: column;
    display: flex;
    width: 100%;
}

img#box-image {
    border-radius: 10px;
}

h4.card-title {
    color: #9597AC;
    font-size: 0.9rem;
    text-align: left;
    font-size: 16px;

}
p.news-tag {
    background-color: #55b364;
    padding: 5px;
    color: white;
    width: max-content;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

p.news-tag.inverted {
    background-color: #2783FF;
}