div.secondary-box-image {
    float: left;
    width: 300px;
    height: 200px;
}

div.secondary-box-text {
    float: right;
    max-width: 50%;
    height: 200px
}

img#secondary-box-image {
    border-radius: 1.5rem;
    height: auto;
    float: left;
}

div#secondary-box-card {
    flex-direction: row;
    width: 620px;
    border: 0px;
    height: 320px;
}