// (TODO: m1)This file should be moved to assets/components/ folder 
.profile {
    height: 100vh;
    overflow-y: hidden;

    .one {
        display: flex;
        flex-direction: column;

        .test {
            display: flex;
            align-items: center;
            margin: 0 0 15px 15px;

            &.top {
                margin-top: 10px;
            }

            .circles {
                border-radius: 50%;
                border: 2px solid white;
                width: 13px;
                height: 13px;
                box-shadow: 0px 6px 15px #1D226F1A;
                z-index: 1200;

                &.pink {
                    background-color: #D679B6;
                }

                &.orange {
                    background-color: #FEBB4E
                }

                &.lightblue {
                    background-color: #5694E8
                }

                &.darkblue {
                    background-color: #1A229B
                }

                &.red {
                    background-color: #D84949
                }

                &.green {
                    background-color: #55B364
                }
            }
        }

        .areaButtons {
            background-color: white;
            border: none;
            height: 18px;
            font-weight: 500;
            outline: none;

            p {
                font-size: 14px;
                color: #65687E;
            }
        }
    }

    .map-layer-popup {
        position: absolute;
        z-index: 1001;
        left: 0;
        top: 50px;

        .popup-render {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border: none;
            outline: none;
            width: 50px;
            height: 45px;
            border-radius: 0 10px 10px 0;
        }

        &.active {
            width: 155px;
            height: 250px;
            box-shadow: 0px 6px 15px #1D226F1A;
            background-color: white;
            border-radius: 0 10px 10px 0;
        }

        button {
            display: flex;

            .first-image {
                margin-top: 5px;
            }

            .last-image {
                margin-bottom: 5px;
            }

            &.cadaster-active {
                background-color: #7CFC00;
            }

            div.result-table-province {
                position: absolute;
                left: 170px;
                top: 0px;
                width: 250px;
                height: auto;
                min-height: 50px;
                border-radius: 20px;
                background-color: white;

                p {
                    margin: 0;
                    text-align: left;
                    margin-left: 20px;
                }
            }

            div.result-table-municipality {
                position: absolute;
                left: 170px;
                top: 60px;
                width: auto;
                min-width: 250px;
                height: auto;
                min-height: 50px;
                border-radius: 20px;
                background-color: white;

                p {
                    margin: 0;
                    text-align: left;
                    margin-left: 20px;
                }
            }

            div.result-table-region {
                position: absolute;
                left: 170px;
                top: 120px;
                min-width: 250px;
                width: auto;
                min-height: 50px;
                height: auto;
                border-radius: 20px;
                background-color: white;

                p {
                    margin: 0;
                    text-align: left;
                    margin-left: 20px;
                }
            }

            div.non-result {
                display: none;
            }


        }
    }

    .steps {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 35px;
        background-color: white;
        z-index: 401;

        p {
            margin: 0 30px;
        }

        .finished {
            background-color: #7fff00 !important;
        }

        .inProgress {
            background-color: #f7ee75;
        }

        .default {
            background-color: #ffffff;
        }
    }


    .logout-button {
        position: absolute;
        top: 35px;
        right: 20px;
        z-index: 401;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 14px;
        justify-content: center;
        color: black;
        font-weight: 700;
        width: 148px;
        height: 46px;
        align-items: baseline;
        outline: none;
    }

    .change {
        z-index: 401;
        position: absolute;
        bottom: 50px;
        left: 50px;
        border: none;
        outline: none;
        background: unset;

        img {
            border: 2px solid white;
            border-radius: 10px;
        }
    }

    .additional-questions {
        .description-box {
            border: 3px solid green;

            .style {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }


    .freeArea {
        z-index: 401 !important;
        border-radius: 15px;

        &.input-box,
        &.output-box {
            box-shadow: 0px 6px 30px #1D226F0D;
            background-color: white;
            font-weight: 700;

            .minimized {
                display: none;
            }

            .header-input-box {
                padding: 14px 0;
                border-bottom: 1px solid #eaebf4;
                margin: 0 22px;

                .right-header,
                .left-header {
                    padding: 0;
                    display: flex;
                    align-items: center;
                }

                .left-header {
                    color: #55b364;
                }

                .right-header {
                    justify-content: flex-end;

                    button {
                        background-color: white;
                        border: none;
                        height: 20px;
                    }
                }

                p {
                    font-weight: 700;
                }
            }

            p {
                text-align: center;
                color: black;
                margin: 0;
                font-weight: 700;
            }

            h6 {
                font-weight: 400;
                font-size: 14px;
                color: #65687e;
            }
        }

        &.input-box {
            p {
                margin-top: 20px;
            }

            h6 {
                margin: 5px 0 0;
            }
        }

        &.output-box {

            &.active {
                z-index: 404 !important;
            }

            &.inactive {
                z-index: 401 !important;
            }

            .output-data {
                margin: 0 22px;

                .production {
                    padding-top: 27px;
                    border-top: 1px solid #eaebf4;
                    border-bottom: 1px solid #eaebf4;
                }

                .cash,
                .production,
                .preventCO {
                    h6 {
                        margin-bottom: 27px;
                    }
                }

                .preventCO,
                .cash {
                    .description {
                        margin-top: 27px;
                    }
                }

                .values {
                    font-size: 30px;
                    color: #55b364;
                    margin: 10px 0;
                }

                p {
                    &.mounth {
                        color: #65687e;
                        margin-top: 0;
                    }
                }
            }
        }

        // &.blue-background {
        //   background-color: #3388ff;
        // }
        // &.red-background {
        //   background-color: red;
        // }
        // &.green-background {
        //   background-color: green;
        // }
        .toggles {
            padding-right: 30px;

            button {
                &.style {
                    margin-left: 20px;
                }
            }

            .roof,
            .land,
            .water,
            .solar,
            .wind,
            .isOwner,
            .isDev,
            .step1choice1 {
                width: 255px;
                height: 45px;
                border-radius: 10px;
                border: 2px solid #d3d5e3;
                background-color: white;
                outline: none;
                color: #9597ac;
                font-weight: 700;
                margin-top: 10px;
                margin-left: 15px;

                img {
                    margin-right: 8px;
                }

                &.active {
                    border: 2px solid #55b364;
                    color: #65687e;
                }
            }
        }

        .size {
            padding-right: 30px;

            input {
                width: 100%;
                margin-left: 15px;
                margin-top: 10px;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &.last-input {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

#app {
    .vdr.active:before {
        content: none;
    }
}