input {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    width: 305px;
    height: 46px;
    padding: 14px 20px;
    outline: none;
    border: 1px solid #D3D5E3;
    border-radius: 10px;
    background-color: #FFFFFF;
}