#app {
    .header-content img.lazy-image-main {
        position: unset;
    }

    .background-image {
        height: 100vh;

        div.lazy-background-image {
            height: 100vh;
        }
    }
}