@import "components/_main_news_box.scss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$font__IBMregular: 'IBM Plex Sans Regular',
sans-serif;
$font__IBMmedium: 'IBM Plex Sans Medium',
sans-serif;
$font__IBMbold: 'IBM Plex Sans Bold',
sans-serif;

$font__LatoRegular: 'Lato Regular',
sans-serif;
$font__LatoBold: 'Lato Bold',
sans-serif;
$font__LatoBlack: 'Lato Black',
sans-serif;

$color__white: white;

// * {
//     font-family: $font__LatoBlack;
// }

.row.row-fluid {
    max-width: 100%;
}

h2#pageTitle {
    font-weight: bold;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.767);
}

div.row {
    margin: auto;
}

div.container {
    max-width: 1400px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-sizing: border-box;
}

input#searchField {
    border-radius: 5%;
}

label#categories {
    text-transform: capitalize;
    min-width: 100px;
    color: rgba(0, 0, 0, 0.582);
    font-weight: bold;
    padding: 10px;
    width: 25px;
    height: 10px;
    align-self: center;
    text-align: center;
}

div.hidden {
    display: none;
}