@media only screen and (max-width: 768px) {
    div.content {
        overflow-x: hidden;
        width: 100%;
    }

    div.navigation {
        display: flex;
        width: 100%;
        height: 55px;

        .menu {
            width: 100%;
            height: 55px;
            background-color: white;
            z-index: 100;
            box-shadow: 0px 3px 10px #00000014;

            .logo {
                width: 54px;
                height: 46px;
                margin: 0 auto;
                cursor: pointer;

                .mobile {
                    display: flex;
                    position: fixed;
                    left: 20px;
                    top: 20px;
                }
            }

            .ml>p {
                display: none;
            }


            .ml-mobile {
                display: flex;
                position: fixed;
                right: 20px;
                top: 20px;

                .flag {
                    margin-right: 8px;
                }
            }

            .ml-responsive {
                display: flex;
                cursor: pointer;
            }

            .burger-menu-ml {
                border-radius: 5px;
                border: none;
                box-shadow: 0px 3px 15px #9597AC4D;
                padding: 7px;
                top: 50px;
                right: 20px;

                &.active {
                    display: flex;

                    .router-link-exact-active button p {
                        color: #55b364;
                    }

                    .language-display.mobile {
                        position: static;
                        flex-direction: column;
                    }
                }

                button {
                    margin: 0;
                    padding: 0;

                    .nl {
                        position: unset;
                        margin-top: 0;
                    }
                }

                .row {
                    align-items: center;

                    img {
                        margin-right: 7px;
                    }
                }

                p {
                    font-size: 12px;
                    margin: 0;
                    color: #9597AC;
                }
            }

            .burger-menu {
                .row {
                    margin-left: 20px;

                    .home-logo,
                    .news-logo,
                    .owner-logo.mobile,
                    .specialist-logo.mobile,
                    .project-logo.mobile {
                        display: flex;
                        justify-content: flex-start;
                        padding: 0;
                        margin-top: 0;

                        .green-line {
                            width: 5px;
                            border-bottom: 30px solid #55b364;
                            margin-left: 25px;
                            margin-top: 5px;
                        }

                        button {
                            flex-wrap: nowrap;
                            margin-top: 10px;

                            p {
                                margin-left: 10px;
                            }

                            .svg-class {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    .owner-logo {
                        display: none;
                    }
                }
            }
        }

        .nav-buttons {
            display: none;
        }
    }

    .content {
        .font {
            .container-fluid {
                margin-bottom: 50px;
            }
        }
    }

    .mobile-background-image {
        display: flex;
    }

    .header {
        .header-content {
            width: 100% !important;
            margin-left: 20px;
            margin-right: 20px;

            h1 {
                width: 100% !important;
                font-size: 35px !important;
            }

            h3 {
                width: 100% !important;
                font-size: 18px !important;
            }


            .mobile {
                margin-top: 15px !important;
            }

        }
    }

    .container-fluid {
        .categories {
            display: none;

        }

        .news-text {
            .title {
                h1 {
                    font-size: 195px !important;
                }

                h2 {
                    font-size: 45px;
                    top: 110px;
                    left: 150px !important;
                }
            }

            div.description-size {
                p {
                    font-weight: 500;
                    font-size: 16px;
                }
            }

            width: 100%;
        }
    }

    .news {
        .container-fluid {
            .news-container {
                margin-top: 50px;
            }
        }
    }

    .newss {
        .col-6 {
            min-width: 100%;
        }

        .news-container {
            #main-news-card {
                min-height: unset;
            }

            .col-sm-12 {
                min-width: 100%;
            }
        }
    }

    .database {
        .row {
            h1 {
                font-size: 195px !important;
            }

            h2 {
                font-size: 45px !important;
                top: 110px;
                left: 120px !important;
            }
        }

        .phone-resolution {
            display: flex;
            flex-direction: column;

            div.text {
                p {
                    font-size: 15px !important;
                    font-weight: 500;
                }

                button {
                    p {
                        font-size: 14px !important;
                    }
                }
            }

            // .col-6 {
            //     min-width: 100%;
            // }
        }
    }

    .tools {
        .row {
            h1 {
                font-size: 195px !important;
            }

            h2 {
                font-size: 45px !important;
                top: 100px;
                left: 170px !important;
            }

            &.iPad {
                div.text {
                    p {
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }

    }

    .what-is-green-phone {
        .image {
            display: flex;
            padding-right: 20px;
            padding-left: 0;
        }

        .what-section {
            min-width: 100%;
            padding: 0 !important;

            .image-for-mobile {
                position: relative;
                display: flex !important;
                left: -95px;
                width: 110%;
                border-radius: 0px 15px 15px 0px;
                box-shadow: 0px 0px 30px #1D226F1A;
                margin-top: 50px;
                margin-bottom: 35px;
            }

            .description {
                margin: 0 40px 80px 40px !important;
                // margin-bottom: 80px !important;
                font-size: 15px;
            }

            .row {
                .text {
                    margin-left: 0 !important;

                    .row {
                        .icon {
                            width: 100px;
                            height: 50px;
                            margin: 0 auto;
                        }

                        p {
                            font-size: 15px;
                            margin-top: 30px !important;
                        }
                    }
                }
            }
        }
    }

    .team {
        .team-container {
            .team-title {
                margin-left: 0 !important;
            }
        }


        .yaml-links {
            display: flex;
            margin: 0;

            .team-card {
                text-align: center !important;

                .team-content {
                    .about {
                        p {
                            font-size: 15px;
                        }
                    }
                }

                .information {
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;

                    .email {
                        min-width: 100%;
                        margin-bottom: 15px;
                    }

                    .linkedin {
                        min-width: 100%;
                    }
                }
            }
        }
    }

    .partners {
        .partner {
            min-width: 100%;
            margin-bottom: 30px;
        }
    }

    .partners-title {
        margin-left: 0 !important;
    }

    .survey {
        .row {
            .description {
                p {
                    max-width: 100%;
                    font-size: 15px;
                }
            }
        }
    }

    .footer {
        .row {
            padding-top: 40px;
            height: auto !important;
            display: flex;
            flex-direction: column;
            text-align: center;

            .policy-positioning {
                justify-content: flex-start !important;
            }

            .col-3 {
                min-width: 100%;
            }
        }
    }

    .site-owner {
        height: auto !important;
        padding: 20px 0;
    }

    .cookie.Cookie--bottom {
        display: flex;
        left: 0 !important;
        min-width: 100% !important;
    }
}


@media only screen and (max-width: 992px) {
    .news {
        .container-fluid {
            .categories {
                display: none;
            }
        }
    }
}